.navBar {
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.list {
  list-style: none;
  margin: auto 0;
}

.item {
  display: inline-block;

  & + &:before {
    content: "|";
    display: inline;
    margin: 0 5px;
  }
}

.itemActive {
  color: blue;
  font-weight: bold;
  text-shadow: 1px 1px 2px navy;
}
