.authorComponent {
  border: 1px solid navy;
  padding: 10px;
  display: inline-block;
}

.authorComponent:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.authorName {
  font-weight: bold;
  color: blue;
}
